In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [98]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [4]:
filename = '/content/drive/MyDrive/CODING DOJO/CÃ³digos/Semana 5/abalone.csv'
df = pd.read_csv(filename, header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [9]:
df.columns=['Sex', 'Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight', 'rings']
df.head()

  Sex  Lenght  Diameter  ...  viscera_weight  shell_weight  rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [10]:
df.shape

(4177, 9)

In [14]:
Y=df['rings']

In [59]:
X=df[['Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight']]

Regresion Lineal predecir la edad

In [82]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=4)

In [92]:
knn = KNeighborsRegressor(n_neighbors=25)

In [94]:
knn.fit(X_train, Y_train)

KNeighborsRegressor(n_neighbors=25)

In [95]:
knn.score(X_test, Y_test)

0.5321189011440921

KNN predecir el sexo

In [129]:
x=df[['Lenght', 'Diameter', 'Height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight','rings']]

In [131]:
y=df['Sex']

In [132]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=4)

In [133]:
clf=neighbors.KNeighborsClassifier()

In [134]:
clf.fit(x_train, y_train)

KNeighborsClassifier()

In [135]:
accuracy=clf.score(x_test, y_test)
accuracy

0.5287081339712919